<div id="header">
	<div id="header_body">
		<h1>Welcome to Metaflies</h1>
		<p>Instant workspaces FTW!</p>		
	</div>
</div>
<div id="join_form" class="setup_form">
	<h1>Joining <%= workspace.name %></h1>
<form id="name_form" action="/<%= workspace.name %>/join" method="post">
	<div>
		<p>Please set your nickname</p>
		<p><input name="nickname" id="nickname" type="text" /></p>
	<% if (workspace.isPrivate())  {%>
		<p>Password:<span>This workspace is password protected</span></p>
		<p><input name="password" id="pass" type="password" /></p>
	<% } %>
		<p><input id="set_button" type="submit" value="send" /></p>
	</div>
</form>
</div>