<!DOCTYPE html>
<html>
  <head>
    <title><%= title || "metaflies" %></title>
    <link rel='stylesheet' href='/css/core.css' />
	<script src="/nowjs/now.js"></script>
	<script src="/js/jquery.js"></script>
	<script src="/js/app.js"></script>
  </head>
  <body>
    <%- body %>
  </body>
</html>