/* @override http://localhost:9393/css/core.css */

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#actions {
	position: fixed;
	right: 40px;
	border: 1px solid #333;
	padding: 5px;
	border-radius: 10px;
	background-color: #eaeaea;
}