<h1><%= title %></h1>
<p>Welcome to <%= title %></p>
<form id="message_form" action="#" method="get">
	<div>
		<input id="message" type="text" />
		<input id="send_button" type="submit" value="send" />
	</div>
</form>

<div id="workspace">
	<h1>Messages</h1>
	<div id="messages">

	</div>
</div>
