<div id="<%= data.post_id %>" class="post bookmark">
	<p class="poster"><%= data.nickname %> added a link:</p>
	<p><a href="<%= data.location %>" target="_blank"><%= data.name %></a></p>
	<div class="replies">
		<div class="post_reply">
			<h3>Post a reply:</h3>
			<form action="#" class="reply_form">
				<textarea class="reply_field" name="reply"></textarea>
				<p><input type="submit" value="+reply"></p>
			</form>
		</div>
	</div>
</div>