<div id="<%= data.postId %>" class="post">
	<p class="poster"><%= data.nickname %> posted:</p>
	<p><%= data.message %></p>
	<div class="replies">
	</div>
	<div class="post_reply">
		<h3>Post a reply:</h3>
		<div class="post_reply">
			<form action="#" class="reply_form">
				<textarea class="reply_field" name="reply"></textarea>
				<p><input type="submit" value="+reply"></p>
			</form>
		</div>
	</div>
</div>